$background: black;
$card-bg: rgb(37, 0, 139);
$card-bg-completed: grey;
$text: #ffd700;
$text-completed: lightgrey;

$team1bg: var(--team1bg);
$team2bg: var(--team2bg);
$team1text: var(--team1text);
$team2text: var(--team2text);