$background: black;
$card-bg: rgb(37, 0, 139);
$card-bg-completed: grey;
$text: gold;
$text-completed: lightgrey;

$team1: darkred;
$team2: darkgreen;


* {
    margin: 0;
    padding: 0
}

html {
    font-size: 14pt;
    font-family: "Nunito Sans";
}

body {
    background-color: $background;
    color: $text;
    text-align: center;

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {    
        font-family: Nunito;
        font-size: 3rem;
        margin-bottom: 2rem;

        &.team {
            position: absolute;
            top: 1rem;
        }
    }
    
    &#client button {
        border: none;
        border-radius: 1rem;
        color: white;
        width: 400px;
        max-width: 90%;
        font-size: 2rem;

        &.team1 {
            background-color: $team1;
        }

        &.team2 {
            background-color: $team2;
        }
    }

    .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $card-bg;

        &.shown {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &#choose {
        select, button {
            width: 400px;
            max-width: 90%;
            background-color: $card-bg;
            color: $text;
            border: none;
            border-radius: 0.25rem;
            font-size: 2rem;
            display: block;
            padding: 0.5rem;
        }

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        select {
            margin-bottom: 1rem;

            + span.custom-select {
                pointer-events: none;
                position: absolute;
                right: 1.1rem;
                top: 0;
                height: 3.5rem;
                width: 3.5rem;
                max-width: 4rem;
                background: $text;
                color: $card-bg;
                border: none;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: 0.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}